{% extends "userBase.html" %}

{% block style %}
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block css %}
    <link href="{{url_for('static', filename='css/rules.css')}}" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
{% endblock %}

{% block content %}

    <main class="form-signin">
        <center>
            <form name="ruleDataForm" method="post" action="#" onsubmit="return validateIP()">
                <h1 class="h3 mb-3 fw-normal">Enter IP Address to block</h1>
                <div class="input-group mb-3" style="width:200px;">
                    <label for="byte1" class="visually-hidden">First</label>
                    <input class="form-control" type="text" name="rule data1" id="byte1" placeholder="" required>
                    <label>.</label>

                    <label for="byte2" class="visually-hidden">Second</label>
                    <input class="form-control" type="text" name="rule data2" id="byte2" placeholder="" required>
                    <label>.</label>

                    <label for="byte3" class="visually-hidden">Third</label>
                    <input class="form-control" type="text" name="rule data3" id="byte3" placeholder="" required>
                    <label>.</label>

                    <label for="byte4" class="visually-hidden">Fourth</label>
                    <input class="form-control" type="text" name="rule data4" id="byte4" placeholder="" required>
                    
                    <label for="validity" id="isValid" ></label>
                    
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Add Rule</button>
                </div>

            </form>
        </center>
    </main>

    <script>
        function validateIP() {
            let bytes = [parseInt(document.forms["ruleDataForm"]["rule data1"].value),
                parseInt(document.forms["ruleDataForm"]["rule data2"].value),
                parseInt(document.forms["ruleDataForm"]["rule data3"].value),
                parseInt(document.forms["ruleDataForm"]["rule data4"].value)];

            for (let i = 0; i < bytes.length; i++){
                if (isNaN(bytes[i])){
                    document.getElementById("isValid").innerHTML = "input is invalid";
                    return false;
                }
                if (!(bytes[i] >= 0 && bytes[i] <= 255)){
                    document.getElementById("isValid").innerHTML = "input is invalid";
                    return false;
                }
            }

            return true; // form is valid
        }

        // The function will check if a variable represents an integer
        function isNumeric(value) {
            return /^-?\d+$/.test(value);
        }
    </script>
{% endblock %}