{% extends "userBase.html" %}

{% block css %}
    <link href="{{url_for('static', filename='css/rules.css')}}" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
{% endblock %}

{% block content %}

<main class="form-signin">
    <center>
        <form method="post" action="#">
            <h1 class="h3 mb-3 fw-normal">Enter new rule</h1>
            <label for="ruleData" class="visually-hidden">Rule</label>
            <input type="text" name="rule data" id="ruleData" class="form-control" placeholder="" required>
            <br>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Add Rule</button>
        </form>
    </center>
</main>

{% endblock %}