{% extends "userBase.html" %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

    <center>
        <h1>Dashboard Page</h1>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button id="1" class="btn btn-outline-dark" onClick="">By Date</button>
                </div>
                <div class="col-sm">
                    <button id="2" class="btn btn-outline-dark" onClick="">By Level</button>
                </div>
            </div>
        </div>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2>Date</h2>
                </div>
                <div class="col-sm">
                    <h2>Attacker IP Address</h2>
                </div>
                <div class="col-sm">
                    <h2>Block Level</h2>
                </div>
            </div>
            <br>

            {% for date, attacker_ip, block_level in content %}
                <!--eventID, attackerIP, blockLevel-->
                {% if block_level != 5 %}
                    <div class="row">
                        <div class="col-sm">
                            <h5>{{ date }}</h5>
                        </div>
                        <div class="col-sm">
                            <h5>{{ attacker_ip }}</h5>
                        </div>
                        <div class="col-sm">
                            <h5>{{ block_level }}</h5>
                        </div>
                        <div class="column">
                            <br>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <br>
        <div class="container" style="height:40vh; width:60vw">
            <canvas id="myChart"></canvas>
            <br><br><br>
        </div>


    </center>

    <script>
        let myChart = document.getElementById('myChart').getContext('2d');

        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = 'black';

        let massPopChart = new Chart(myChart, {
            type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data:{
                labels: [{% for date in anomalies_amount.keys() %}
                            "{{date}}",
                        {% endfor %}
                        ],
                datasets: [{
                    label:'Anomalies amount',
                    data: [{% for date in anomalies_amount.keys() %}
                                {{ anomalies_amount[date] }},
                            {% endfor %}],
                    //backgroundColor:'green',
                    borderWidth:1,
                    borderColor: 'black',
                    hoverBorderWidth:3,
                    HoverBorderColor: 'blue'
                }]
            },
            options:{
                title:{
                    display:true,
                    text: 'Number of anomalies per time',
                    fontSize: 25
                },
                legend:{
                    display:false,
                    position:'right'
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips:{
                    enabled: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}