{% extends "userBase.html" %}

{% block content %}
    <center>
        <h1>Dashboard Page</h1>
        <br><br>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2>Date</h2>
                </div>
                <div class="col-sm">
                    <h2>Attacker IP Address</h2>
                </div>
                <div class="col-sm">
                    <h2>Block Level</h2>
                </div>
            </div>
            <br>

            {% for id, attacker_ip, block_level in content %}
                <!--eventID, attackerIP, blockLevel-->
                <div class="row">
                    <div class="col-sm">
                        <h5>{{ id }}</h5>
                    </div>
                    <div class="col-sm">
                        <h5>{{ attacker_ip }}</h5>
                    </div>
                    <div class="col-sm">
                        <h5>{{ block_level }}</h5>
                    </div>
                    <div class="column">
                        <br>
                    </div>
                </div>
            {% endfor %}

        </div>
    </center>
{% endblock %}