{% extends "userBase.html" %}

{% block content %}
    <center>
        <h1>Dashboard Page</h1>
        <br>
        <br>
    </center>

    <div class="row">
        <!--eventID, attackerIP, blockLevel-->
        {% for id, attacker_ip, block_level in content %}
            <div class="column" style="background-color:#aaa;">
                <h2>Date: {{ id }}</h2>
            </div>
            <div class="column" style="background-color:#aab;">
                <h3>Attacker IP: {{ attacker_ip }}</h3>
            </div>
            <div class="column" style="background-color:#aac;">
                <h3>Block level: {{ block_level }}</h3>
            </div>
            <div class="column">
                <br>
            </div>

        {% endfor %}
    </div>

{% endblock %}