{% extends base %}

{% block content %}
    <center>
        <h1>Welcome to Serverus!</h1>
    </center>
    <br><br>
    <div class="container">
        <h3>What is Serverus?</h3>
        <p>A behavior-based intrusion detection and prevention system for linux-based servers which uses
            deep learning model in order to identify attacks by anomaly behavior on the server transportation and
            block it. </p>
        <p>
            The name "Serverus" is influenced by the great Cerberus from the greek mythology.
            A Cerberus (often referred to as the hound of Hades) is a creature which resembles to a multi-headed dog,
            and guards the gates of the Underworld.
            Since our product's main goal is defending servers from attack, we've found it extremely similar to the Cerberus.
        </p>

        for additional information, visit our github repo: <a href="https://github.com/omri30000/Serverus">Serverus</a>
    </div>
    <div class="container">
        <br>
        <h3>About us</h3>
        <p>
            Ofir Shapira and Omri Zaiman, 3rd year students in Magshimim - the Israeli national cyber program.
            Serverus is our final project in Magshimim.
        </p>
        <u>Our github profiles:</u>
        <br>
        * <a href="https://github.com/omri30000">Omri Zaiman</a>
        <br>
        * <a href="https://github.com/sharp30">Ofir Shapira</a>
    </div>
{% endblock %}