{% extends base %}

{% block content %}
    <center>
        <img class="mb-4" src="{{url_for('static', filename='assets/logo.png')}}" alt="" width="300" height="168">
    </center>
    <br><br>
    <div class="container">
        <h3>What is Serverus?</h3>
        <p>A behavior-based intrusion detection and prevention system for linux-based servers which uses
            deep learning model in order to identify attacks by anomaly behavior on the server transportation and
            block it.
        </p>

        for additional information, visit our github repo: <a href="https://github.com/omri30000/Serverus">Serverus</a>
    </div>
    <div class="container">
        <br>
        <h3>About us</h3>
        <p>
            <a href="https://github.com/sharp30">Ofir Shapira</a> and <a href="https://github.com/omri30000">Omri Zaiman</a>, 3rd year students in Magshimim - the Israeli national cyber program.
            Serverus is our final project in Magshimim.
        </p>
    </div>
{% endblock %}