{% extends "guestBase.html" %}

{% block style %}
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block css %}
    <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
{% endblock %}

{% block content %}

    <script>
        function validateForm() {
            var name = document.forms["registerForm"]["usernameName"].value;
            var password = document.forms["registerForm"]["passwordName"].value;
            var email = document.forms["registerForm"]["emailName"].value;
            if (name.length < 5 || password.length < 5) {
                alert("Name and Password must contain 5 characters at least");
                return false;
            }

            var pattern = new RegExp(/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/); //unacceptable chars
            if (pattern.test(name) || pattern.test(password)) {
                alert("Please only use standard alphanumerics for username and password");
                return false;
            }

            var emailPattern = new RegExp(/[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+/);
            if (!emailPattern.test(email))
            {
                alert("Email is invalid, please check your input");
                return false;
            }

            return true; // form is valid
        }
    </script>

    <main class="form-signin">
        <center>
            <img class="mb-4" src="{{url_for('static', filename='assets/logo.png')}}" alt="" width="140" height="114">
            <form name="registerForm" method="post" action="#" onsubmit="return validateForm()">
                <h1 class="h3 mb-3 fw-normal">Enter your details</h1>

                <label for="username" class="visually-hidden">Username</label>
                <input type="text" name="usernameName" id="username" class="form-control" placeholder="Username" required>
                <br>

                <label for="email" class="visually-hidden">Email</label>
                <input type="text" name="emailName" id="email" class="form-control" placeholder="Email" required>
                <br>

                <label for="password" class="visually-hidden">Password</label>
                <input type="password" name="passwordName" id = "password" class="form-control" placeholder="Password" required>

                <div class="checkbox mb-3">
                    <label>
                    <input type="checkbox" value="conditions" required> Agree to terms and conditions </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>
        </center>
    </main>
{% endblock %}